@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dobrodošli</h1>
    <p class="lead">Naslov projekta</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Naslovna</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saznaj više&raquo;</a></p>
    </div>
  
</div>